{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:nuxt/recommended",
    "plugin:vue/vue3-recommended"
  ],

  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false
  },

  "rules": {
    "vue/multi-word-component-names": 0,
    "vue/singleline-html-element-content-newline": 0,
    "vue/html-self-closing": 0,
    "vue/max-attributes-per-line": 0,
    "vue/first-attribute-linebreak": 0
  },
  "globals": {
    "$fetch": true,
    "useState": true,
    "useRuntimeConfig": true,
    "useRouter": true,
    "useFetch": true,
    "useRoute": true,
    "useRequestHeaders": true,
    "useCookie": true,
    "useHead": true,
    "navigateTo": true,
    "defineNuxtConfig": true,
    "definePageMeta": true
  }
}
